<div class="container-fluid col-sm-12"><center><h1>Busca de Fornecedores</h1></center></div>
<div class=" container-fluid">
	
		<div class="form-group">
			<div class="col-sm-12">
		  		<input type="text" name="stringBuscaFornecedor" class="form-control" id="stringBuscaFornecedor" placeholder="Digite o Nome Fantasia ou Razão Social ou CNPJ" required>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-6">
			  <button id="buscarFornecedor" class="btn btn-primary btn-block">Buscar</button>
			</div>
			<div class="col-sm-6">
			  <button id="CadastrarFornecedor" class="btn btn-primary btn-block">Cadastrar Fornecedores</button>
			</div>
		</div>
        <br>

		
</div>
<br>

<div class="container-fluid">
    <button  class="fornecedor btn btn-default btn-block" data-custo="45.54"><div class="col-sm-1" style="text-align:left">ID: 24</div><div class="col-sm-4" style="text-align:left">Nome Fantasia: Okamura Supermercados Ltda</div><div class="col-sm-2" style="text-align:left">Vendedor: Diego Lindolfo</div><div class="col-sm-2" style="text-align:left">Telefone Vendedor: (11)94712-6466</div></button>
    <button class="btn btn-default btn-block">Produtos</button>
 </div>

<!--Modal de Exibir, Editar e Cadastrar Produtos-->
 <div class="modal fade bs-example-modal-sm" id="modal_Fornecedores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h1 class="modal-title titulo_msg" id="tituloModalForn"></h1></center>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="dados_Fornecedores">
            <div class="container-fluid">
                <div class="form-group">
                    <label for="campoNomeFant" class="col-sm-2 control-label">Nome Fantasia</label>
                    <span class="col-sm-8 divDadosFornecedores" id="campoNomeFant"></span>
                </div>

                <div class="form-group">
                    <label for="CampoRazaoSocial" class="col-sm-2 control-label">Razão Social</label>
                    <div class="col-sm-8 divDadosFornecedores" id="CampoRazaoSocial">
                    </div>
                </div>

                <div class="form-group">
                    <label for="CampoCNPJ" class="col-sm-2 control-label">CNPJ</label>
                    <div class="col-sm-3 divDadosFornecedores" id="CampoCNPJ"></div>

                    <label for="CamṕoIE" class="col-sm-2 control-label">IE(Inscrição Estadual)</label>
                    <div class="col-sm-3 divDadosFornecedores" id="CamṕoIE"></div>
                </div>

                <div class="form-group">
                    

                    <label for="CampoLogradouro" class="col-sm-2 control-label">Logradouro</label>
                    <div class="col-sm-3 divDadosFornecedores" id="CampoLogradouro">
                    </div>

                    <label for="CampoBairro" class="col-sm-2 control-label">Bairro</label>
                    <div class="col-sm-3 divDadosFornecedores" id="CampoBairro">
                    </div>
                        
                </div>


                <div class="form-group">
                    <label for="CampoNumero" class="col-sm-2 control-label">Numero</label>
                    <div class="col-sm-3 divDadosFornecedores" id="CampoNumero"></div>

                    <label for="CampoCEP" class="col-sm-2 control-label">CEP</label>
                    <div class="col-sm-3 divDadosFornecedores" id="CampoCEP">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="CampoEstado" class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-3 divDadosFornecedores" id="CampoEstado"></div>

                    <label for="CampoMunicipio" class="col-sm-2 control-label">Municipio</label>
                    <div class="col-sm-3 divDadosFornecedores" id="CampoMunicipio"></div>
                </div>


                <div class="form-group">
                    <label for="CampoVendedor" class="col-sm-2 control-label">Vendedor</label>
                    <div class="col-sm-2 divDadosFornecedores" id="CampoVendedor"></div>

                    <label for="CampoTelVend" class="col-sm-2 control-label">Telefone Vendedor</label>
                    <div class="col-sm-2 divDadosFornecedores" id="CampoTelVend"></div>


                    <label for="CampoMailVend" class="col-sm-2 control-label">Email Vendedor</label>
                    <div class="col-sm-2 divDadosFornecedores" id="CampoMailVend">
                    </div>

                </div>
                 
                <div class="form-group">

                    <label for="CampoEndWeb" class="col-sm-2 control-label">Endereço Web</label>
                    <div class="col-sm-2 divDadosFornecedores" id="CampoEndWeb"></div>

                    <label for="CampoTelEmpr" class="col-sm-2 control-label">Telefone Empresa</label>
                    <div class="col-sm-2 divDadosFornecedores" id="CampoTelEmpr"></div>

                    <label for="CampoMailEmpres" class="col-sm-2 control-label">Email Empresa</label>
                    <div class="col-sm-2 divDadosFornecedores" id="CampoMailEmpres"></div>

                    
            </div>
         </form>
      </div>
      <div  id="botoes_Fornecedores" class="modal-footer btnDadosFornecedores">
     </div>
    </div>
  </div>
</div><!--modal-->
